.form {
    background: #F5F5F5;
    padding-bottom: 150px;

    .form_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
            font-size: 40px;
            margin-top: 80px;
            margin-bottom: 40px;
            letter-spacing: 2px;
            color: #3D3D3D;
        }

        hr {
            border-bottom: 3px solid #13212F;
            width: 20%;
            height: 1px;
            margin-left: 20px;
            margin-top: 0px;
            border-top: none;
            opacity: 1;
            margin-top: 60px;
        }
    }

    .container {
        width: 60%;

        .row {
            .col-12 {
                gap: 20px;
                .form-control {
                    height: 60px;
                    border-radius: 16px;
                }
            }
        }
    }

    .message {
        margin-top: 25px;
        margin-bottom: 24px;
            .form-control {
                    height: 60px;
                    border-radius: 16px;
                }
                label{
                    color: #737373;
                }
            }

        }


        
.btn {
    border: none;
    margin-top: 10px;
    background-color: #13212F;
    width: 100%;

    &:hover {
        background-color: #b8b8b8;
        ;
    }
}

textarea{
    margin-top: 24px;
    margin-bottom: 24px;
}

label{
    color: #737373;
}

footer {
    .bg_footer {
        background-color: #13212F;
        height: 40px;
        display: flex;
        align-items: center;

        p {
            font-size: 14px;
            color: white;
            font-weight: 100;
            margin-top: 15px;
            margin-left: 30px;
        }
    }
}

@media(max-width: 1180px){
    .container{
        width: 70% !important;
    }
}

@media(max-width: 700px){

    .form .form_title p {
        font-size: 24px;
        margin-top: 80px;
        margin-bottom: 40px;
        letter-spacing: 2px;
        color: #3D3D3D;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80% !important;
    }
    .row{
        gap: 25px;
        width: 100%;
        
    }
    .col{
        flex: none;
        
    }
    // .form .container .row .col .form-control {
    //     margin-bottom: 20px;
    // }
    .form .container .email .mb-3 .form-control {
        height: 60px;
        border-radius: 16px;
        width: 100%;
    }

    
    }