.my_works {  
    background-color: white;

    // .work_first{
    //     display: flex;
    //     flex-wrap: wrap;
    //     width: 50%;
    //     a{
    //         width: 50%; 
    //     } 
    // }



    padding-top: 10px;
    padding-bottom: 60px;
    .work_title {
        display: flex;
        justify-content: center;

        p {
            font-size: 40px;
            margin-top: 40px;
            letter-spacing: 2px;
            color: #3D3D3D;
        }
    }

    .sort {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        font-size: 20px;
        gap: 40px;
        margin: 10px;

        a {
            color: #4E4E4E;
            letter-spacing: 2px;
        }
    }

    .works {
        // display: flex;
        // flex-direction: column;
        width: 100%;

        .work_01 {
            display: flex;
            flex-wrap: wrap;
            img{
                width:100%;
            }
            a{
                width: 50%;
                &:hover {
                    position: relative;
                    // opacity: 30%;
                    // background-color: #cecece;;
                    content: "Pet Time";
                     transition: opacity 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
                     opacity: 50%;
                     z-index: 1;
                     background-color: rgba(255, 255, 255, 0.25);

                    // >div{
                    //     transform: scale(0.98, 0.98);
                    //     &::before{
                    //         opacity: 1;
                    //         content: "PetTime";
                    //         position: absolute;
                    //         top: 50%;
                    //         left: 45%;
                    //         text-align: center;
                    //         z-index: 30;
                    //       }         
                    // }

                    img{
                        transform: scale(0.98, 0.98);
                    }
                    &::before{
                        opacity: 1;
                        // content: "PetTime";
                        position: absolute;
                        top: 50%;
                        left: 44%;
                        text-align: center;
                        color: black;
                        z-index: 30;
                      }         
                } 
            }

        }
    }
}

@media(max-width: 700px){
    .my_works p{
        font-size: 24px !important;
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }
    .works {
        // display: flex;
        // flex-direction: column;
        width: 100%;

        .work_01 {
            display: flex;
            flex-direction: column;
            img{
                width:100%;
            }
            a{
                width: auto !important;
            }

        }
    }
}