.dem3_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0;
}
.dstitle h5{
    color: #162a4b;
    font-size: max(1.5*(1vw + 1vh) / 2, 20px);
    font-weight: 400;
}
a.mabottom{
    display: flex;
    position: relative;
    width: 181px;
    background: #ffffff;
    border-radius: 40px;
    padding: 5px 12px;
    box-shadow: 0 0 0.8em 0 rgba(2, 2, 2, .16);
    margin: 20px 20px;
    color: #162a4b;
    border: antiquewhite 1px solid;
}
a.mabottom:hover{
    background: #ffffff;
}
a.mabottom:hover .svgg svg{
    animation: jump 0.5s infinite alternate;
}

a.mabottom:hover rect{
    stroke-dasharray: 125%, 0;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                        stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);

    transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);
}
a.mabottom p{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0;
}
a.mabottom p span{
    font-size: max(1*(1vw + 1vh) / 2, 14px);
    letter-spacing: 0.03em;
}
.wowdreenday{
    overflow: visible;
    pointer-events: none;
    position:absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.wowdreenday rect{
    stroke-dasharray: 0, 125%;
    stroke-dashoffset: 125%;
    -webkit-transition: stroke-dasharray .6s cubic-bezier(.25,1,.5,1), stroke-dashoffset .6s cubic-bezier(.25,1,.5,1);
    transition: stroke-dasharray .6s cubic-bezier(.25,1,.5,1), stroke-dashoffset .6s cubic-bezier(.25,1,.5,1);
    stroke-width: 2;
    stroke: #162a4b;
    fill: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.svgg{
    /* background: #162A4B; */
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.svgg svg{
    width: 26px;
    aspect-ratio: 1/1;
}
.svgg svg path{stroke: #162a4b;}

@keyframes jump {
            0% { transform: translateY(0); }
            100% { transform: translateY(-5px); }
        }
