@charset "UTF-8";
header {
  background-color: #F5F5F5;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 20px;
  background-color: #F5F5F5;
  z-index: 5;
  box-shadow: rgb(216, 216, 216) 0px 0px 10px;
}
header nav a:hover {
  opacity: 50%;
}
header nav .ruoyu {
  width: 121px;
  height: 22px;
}
header nav .social_media {
  margin-left: 40px;
}
header nav .social_media a:hover {
  opacity: 30%;
}
.mydvdv{
 display: flex;
    justify-content: flex-end;
    flex: 1;
}
.mydvdv a{
 padding: 4px 20px 5px 20px;
    margin-right: 17px;
    border: #13212f 2pt solid;
    font-size: max(1*(1vw + 1vh) / 2, 15px);
    border-radius: 555px;
    color: #13212f;
}
.mydvdv a:hover{
 background: #13212f;
    opacity: 1;
    color: #ffffff;
}

header nav .hamburger {
  width: 32px;
  height: 32px;
  margin-left: auto;
}
header .title {
  bottom: 50px;
  background-size: cover;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
}
header .title img {
  width: 100px;
  margin-top: 180px;
  margin-bottom: 120px;
}
header .header_button {
  display: flex;
  margin-top: 80px;
  gap: 40px;
  bottom: 300px;
  justify-content: center;
  letter-spacing: 2px;
}
header .header_button a {
  text-decoration: none;
  color: #fff;
  background-color: #162A4B;
  padding: 8px 32px;
  justify-content: center;
  border-radius: 20px;
}
header .header_button a:hover {
  background-color: #b8b8b8;
}
header .go_down {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 120px;
  padding-bottom: 120px;
  animation: arrmove 0.95s infinite alternate;
  -moz-animation: arrmove 0.95s infinite alternate;
  -webkit-animation: arrmove 0.95s infinite alternate;
  animation-timing-function: ease-in-out;
}
header .go_down a {
  text-decoration: none;
  color: #797979;
}
@keyframes arrmove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(12px);
  }
}

.nav-item {
  font-family: "Roboto";
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #464646;
}
.nav-item:hover {
  opacity: 30%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: F5F5F5;
}

a {
  text-decoration: none;
}

.zoom {
  overflow: hidden;
}
.zoom .inner {
  position: relative;
}
.zoom .inner img, .zoom .inner.bg {
  transition: transform 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
}
.zoom .inner::before {
  content: "";
  transition: opacity 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
}
.zoom:hover .inner img, .zoom:hover .inner.bg {
  transform: scale(1.08, 1.08);
}
.zoom:hover .inner::before {
  opacity: 1;
}

.arrow {
  display: inline-block;
  width: 26px;
  height: 17px;
  position: relative;
  top: 4px;
  transition: all 0.2s cubic-bezier(0, 0.41, 0.58, 1);
  transform: translateX(0);
  opacity: 1;
}
.arrow:before {
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid currentColor;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  right: 9px;
  bottom: 6px;
}
.arrow:after {
  content: "";
  width: 12px;
  height: 10px;
  border-top: 1px solid currentColor;
  display: block;
  position: absolute;
  right: 8px;
  bottom: 1px;
}

.arrow_wrap:hover .arrow {
  transform: translateX(4px);
  opacity: 0.75;
}

* {
  margin: 0;
  padding: 0;
}

.out-box {
  width: 100%;
  margin-bottom: 20px;
}

.profile-box {
  display: flex;
  position: relative;
  padding: 90px;
}

.p-left {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
}

.p-right {
  position: absolute;
  width: 60%;
  z-index: 1;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #13212F;
}

/* 利用profile 撐起父元素的高度*/
.profile {
  padding: 40px;
  width: calc(65% - 20px);
  margin-left: 30%;
  z-index: 2;
  /*設定顯示在最上層*/
  background-color: white;
  border-radius: 5px;
}

.profile h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.profile p {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.picBox {
  width: 24vw;
  text-align: center;
  margin-left: 5vw;
}

.picBox img {
  width: 20vw;
  height: 20vw;
  max-width: 260px;
  max-height: 260px;
  margin: 0;
  border-radius: 50%;
}

.picBox .name {
  color: black;
  font-size: 28px;
  margin: 20px 0;
}

.picBox .item {
  font-size: 16px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  background-color: #13212F;
  color: white;
  display: inline-block;
  border-radius: 16px;
  margin: 6px;
}

@media (max-width: 1180px) {
  .out-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .out-box .profile-box {
    display: flex;
    width: 100%;
  }
  .out-box .profile-box .p-left {
    width: 100%;
    height: 260px;
    z-index: 1;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .out-box .profile-box .p-left .picBox {
    background-color: #EFEFEF;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 0;
    margin: 0;
    height: 480px;
  }
  .out-box .profile-box .p-left .picBox img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
  .out-box .profile-box .profile {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 390px;
  }
  .out-box .profile-box .profile p {
    font-size: 18px;
  }
  .out-box .profile-box .profile br {
    display: none;
  }
  .out-box .profile-box .p-right {
    top: 90px;
    width: 100%;
    height: 65% !important;
    top: 390px;
    background-color: #13212F;
  }
}
@media (max-width: 700px) {
  .out-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .out-box .profile-box {
    display: flex;
    width: 100%;
    padding: 20px 40px;
  }
  .out-box .profile-box .p-left {
    width: 100%;
    height: 260px;
    z-index: 1;
    background-color: #EFEFEF;
    display: flex;
    margin-top: 40px;
  }
  .out-box .profile-box .p-left .picBox {
    background-color: #EFEFEF;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 0;
    margin: 0;
    height: 480px;
    align-items: center;
  }
  .out-box .profile-box .p-left .picBox img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  .out-box .profile-box .profile {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 390px;
    padding: 20px !important;
  }
  .out-box .profile-box .profile p {
    width: 100%;
    font-size: 14px;
  }
  .out-box .profile-box .p-right {
    top: 90px;
    width: 100%;
    height: 65% !important;
    top: 390px;
    background-color: #13212F;
  }
}
.experience .a-experience {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.experience .a-experience .a-e-content {
  font-size: 40px;
  margin-top: 40px;
  letter-spacing: 2px;
  color: #3D3D3D;
}
.experience .ability {
  background-color: #efefef;
}
.experience .ability .ability-box {
  padding-bottom: 4%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  align-items: center;
}
.experience .ability .ability-box .ability-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
.experience .ability .ability-box .ability-content .a-c-left {
  width: 540px;
  background-color: white;
  padding: 50px 80px;
}
.experience .ability .ability-box .ability-content .a-c-left .info h2 {
  border-bottom: 1.5px solid black;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-left .info .basic_info {
  display: flex;
  flex-direction: row;
}
.experience .ability .ability-box .ability-content .a-c-left .info .basic_info .info_title {
  width: 180px;
}
.experience .ability .ability-box .ability-content .a-c-left .language {
  margin-top: 50px;
}
.experience .ability .ability-box .ability-content .a-c-left .language h2 {
  border-bottom: 1.5px solid black;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-left .language .language_info {
  display: flex;
  flex-direction: row;
}
.experience .ability .ability-box .ability-content .a-c-left .language .language_info .info_title {
  width: 180px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills {
  margin-top: 50px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills h2 {
  border-bottom: 1.5px solid black;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .s-content {
  width: 130px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_90 {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_90 .percentage {
  position: absolute;
  height: 6px;
  width: calc(70% - 30px);
  margin-left: 12%;
  z-index: 2;
  /*設定顯示在最上層*/
  background-color: #1D3247;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_90 .grey {
  width: 70%;
  margin-left: 10%;
  border: solid #D9D9D9 7px;
  align-items: center;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_90 .bar_word {
  margin-right: 10%;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_70 {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_70 .percentage {
  position: absolute;
  height: 6px;
  width: calc(70% - 70px);
  margin-left: 12%;
  z-index: 2;
  /*設定顯示在最上層*/
  background-color: #1D3247;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_70 .grey {
  width: 70%;
  margin-left: 10%;
  border: solid #D9D9D9 7px;
  align-items: center;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_70 .bar_word {
  margin-right: 10%;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_80 {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_80 .percentage {
  position: absolute;
  height: 6px;
  width: calc(70% - 50px);
  margin-left: 12%;
  z-index: 2;
  /*設定顯示在最上層*/
  background-color: #1D3247;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_80 .grey {
  width: 70%;
  margin-left: 10%;
  border: solid #D9D9D9 7px;
  align-items: center;
  border-radius: 100px;
}
.experience .ability .ability-box .ability-content .a-c-left .skills .skills-bar .bar_80 .bar_word {
  margin-right: 10%;
}
.experience .ability .ability-box .ability-content .a-c-right {
  width: 600px;
  background-color: white;
  padding: 50px 80px;
}
.experience .ability .ability-box .ability-content .a-c-right .education h2 {
  border-bottom: 1.5px solid black;
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-right .education h3 {
  font-size: 20px;
}
.experience .ability .ability-box .ability-content .a-c-right .job {
  margin-top: 60px;
}
.experience .ability .ability-box .ability-content .a-c-right .job h2 {
  border-bottom: 1.5px solid black;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content h3 {
  font-size: 24px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .date {
  padding: 0;
  font-size: 16px;
  color: grey;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content p {
  margin-top: 8px;
  margin-bottom: 20px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_bar {
  justify-content: center;
  width: 8%;
  align-items: center;
  float: left;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_bar .decoLine {
  width: 30px;
  float: left;
  margin-top: 5px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_bar .decoLine .circle {
  width: 10px;
  height: 10px;
  border: 2px solid #13212F;
  border-radius: 6px;
  margin: 0 auto;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_bar .decoLine .line {
  width: 0;
  height: 100px;
  border-left: 2px solid #13212F;
  margin: 0 auto;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_content {
  width: 400px;
  padding: 0 5px;
  float: left;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .job_content h3 {
  font-size: 20px;
}
.experience .ability .ability-box .ability-content .a-c-right .job .job_bar_content .clearFloat {
  clear: both;
}

.my_works .container .works .work_01 {display: grid;grid-template-columns: repeat(2, 1fr);gap: 30px;margin-top: 60px;overflow: visible;}
.my_works .container .works .work_01 a{width: 100%;box-shadow: 4px 1px 8px 2px #3d3d3d52;position: relative;}
.container .infotextJ{display: flex;flex-direction: column;position: absolute;bottom: 0;width: 100%;opacity: 0;font-size: max(1.2*(1vw + 1vh) / 2, 18px)!important;padding: 16px;margin-bottom: 0;}
.my_works .container .works .work_01 a:before {opacity: 0;content: "";position: absolute;width: 100%;height: 100%;background: linear-gradient(to top, rgb(0 0 0 / 70%), rgb(0 0 0 / 0%));}
.my_works .container .works .work_01 a{box-shadow: 4px 1px 8px 2px #3d3d3d52;position: relative;width: 100%;opacity: 1;color: white;}
.my_works .container .works .work_01 a:hover .infotextJ{opacity: 1;}
.my_works .container .works .work_01 a:hover{opacity: 1;}
.my_works .container .works .work_01 a:hover::before{opacity: 1;top: 0;left: 0;z-index: 0;}
.my_works .container .works .work_01 a:hover img{transform: unset;}
.my_works .container .works .work_01 * , :before{
  -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

@media screen and (max-width: 640px){
 .my_works .container .works .work_01 {grid-template-columns: repeat(1, 1fr);gap: 20px;margin-top: 10px;}
}


.my_works {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 60px;
}
.my_works .work_title {
  display: flex;
  justify-content: center;
}
.my_works .work_title p {
  font-size: 40px;
  margin-top: 40px;
  letter-spacing: 2px;
  color: #3D3D3D;
}
.my_works .sort {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  font-size: 20px;
  gap: 40px;
  margin: 10px;
}
.my_works .sort a {
  color: #4E4E4E;
  letter-spacing: 2px;
}
.my_works .works {
  width: 100%;
}
.my_works .works .work_01 {
  display: flex;
  flex-wrap: wrap;
}
.my_works .works .work_01 img {
  width: 100%;
}

.my_works .works .work_01 a:hover {
  position: relative;
  content: "Pet Time";
  transition: opacity 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
  opacity: 50%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
}
.my_works .works .work_01 a:hover img {
  transform: scale(0.98, 0.98);
}
.my_works .works .work_01 a:hover::before {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 44%;
  text-align: center;
  color: black;
  z-index: 30;
}


.dem3_box{
    display: flex;
    justify-content: center;
}
a.mabottom{
    display: flex;
    position: relative;
    width: 200px;
    background: #ffffff;
    border-radius: 40px;
    padding: 12px 12px;
    box-shadow: 0 0 0.8em 0 rgba(2, 2, 2, .16);
    margin: 20px 20px;
}

a.mabottom:hover rect{
    stroke-dasharray: 125%, 0;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                        stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);

    transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);
}
a.mabottom p{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
a.mabottom p span{
    text-transform: uppercase;
    font-size: max(1*(1vw + 1vh) / 2, 15px);
}
.wowdreenday{
    overflow: visible;
    pointer-events: none;
    position:absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.wowdreenday rect{
    stroke-dasharray: 0, 125%;
    stroke-dashoffset: 125%;
    -webkit-transition: stroke-dasharray .6s cubic-bezier(.25,1,.5,1), stroke-dashoffset .6s cubic-bezier(.25,1,.5,1);
    transition: stroke-dasharray .6s cubic-bezier(.25,1,.5,1), stroke-dashoffset .6s cubic-bezier(.25,1,.5,1);
    stroke-width: 2;
    stroke: #162a4b;
    fill: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.svgg{
    background: #162A4B;
    width: 38px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.svgg svg{
    width: 20px;
    aspect-ratio: 1/1;
    fill: #ffffff;
}







@media (max-width: 1180px) {
  .experience .a-experience .a-e-content {
    font-size: 36px;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .experience .ability .ability-box .ability-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 7%;
  }
  .experience .ability .ability-box .ability-content .a-c-left {
    scale: 111%;
    padding: 50px;
    margin-bottom: 0px;
  }
  .experience .ability .ability-box .ability-content .a-c-right {
    padding: 50px;
  }
  .ability-content {
    display: flex;
    align-items: center;
  }
  .ability-content .a-c-left {
    width: 100%;
  }
  .ability-content .a-c-right {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .experience .a-experience .a-e-content {
    font-size: 20px;
    margin-bottom: 4%;
    margin-top: 12%;
  }
  .experience .ability .ability-box .ability-content .a-c-left {
    scale: 76%;
    padding: 50px;
  }
  .experience .ability .ability-box .ability-content .a-c-right {
    scale: 68%;
    padding: 50px;
  }
  .experience .ability .ability-box .ability-content .a-c-left {
    width: 480px;
  }
  .experience .ability .ability-box .ability-content .a-c-right {
    width: 536px;
    margin-top: 20px;
  }
  .ability-content {
    display: flex;
    align-items: center;
    height: 1300px;
  }
  .ability-content .a-c-left {
    width: 100%;
    position: relative;
    top: 10%;
  }
  .ability-content .a-c-right {
    width: 100%;
    position: relative;
    top: -15%;
  }
}

@media (max-width: 700px) {
  .my_works p {
    font-size: 24px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
  .works {
    width: 100%;
  }
  .works .work_01 {
    display: flex;
    flex-direction: column;
  }
  .works .work_01 img {
    width: 100%;
  }
  .works .work_01 a {
    width: auto !important;
  }
}
.form {
  background: #F5F5F5;
  padding-bottom: 150px;
}
.form .form_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form .form_title p {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #3D3D3D;
}
.form .form_title hr {
  border-bottom: 3px solid #13212F;
  width: 20%;
  height: 1px;
  margin-left: 20px;
  margin-top: 0px;
  border-top: none;
  opacity: 1;
  margin-top: 60px;
}
.form .container {
  width: 60%;
}
.form .container .row .col-12 {
  gap: 20px;
}
.form .container .row .col-12 .form-control {
  height: 60px;
  border-radius: 16px;
}
.form .message {
  margin-top: 25px;
  margin-bottom: 24px;
}
.form .message .form-control {
  height: 60px;
  border-radius: 16px;
}
.form .message label {
  color: #737373;
}

.btn {
  border: none;
  margin-top: 10px;
  background-color: #13212F;
  width: 100%;
}
.btn:hover {
  background-color: #b8b8b8;
}

textarea {
  margin-top: 24px;
  margin-bottom: 24px;
}

label {
  color: #737373;
}

footer .bg_footer {
  background-color: #13212F;
  height: 40px;
  display: flex;
  align-items: center;
}
footer .bg_footer p {
  font-size: 14px;
  color: white;
  font-weight: 100;
  margin-top: 15px;
  margin-left: 30px;
}

@media (max-width: 1180px) {
  .container {
    width: 70% !important;
  }
}
@media (max-width: 700px) {
  .form .form_title p {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: #3D3D3D;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80% !important;
  }
  .row {
    gap: 25px;
    width: 100%;
  }
  .col {
    flex: none;
  }
  .form .container .email .mb-3 .form-control {
    height: 60px;
    border-radius: 16px;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */

@media screen and (max-width: 480px){
 .mydvdv a{margin-right: 10px;padding: 4px 20px 5px 20px;padding: 4px 17px 5px 17px;}
 header nav .social_media{margin-left: 5px;}
 .out-box .profile-box{display: flex;flex-direction: column;padding: 0 0;background: #162a4b;}
 .out-box .profile-box .p-left{margin-top: 0;position: relative;height: auto;}
 .out-box .profile-box .p-right{position: relative;}
 .out-box .profile-box .profile{padding: 30px !important;width: 88%;margin: 30px auto;}
 .out-box .profile-box .profile p{text-align: left;}
 .experience .a-experience .a-e-content{margin: 50px 0;}
 .out-box{margin: 0;}
}
