*{
 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#work_box{
    position: relative;
    overflow: hidden;
}

.runingtext>div {
 position: relative;
 padding: 10px 0px;
 display: flex;
 text-align: center;
 transition: all .7s ease-out;
 -webkit-animation: picture_scroll 40s linear infinite;
 animation: picture_scroll 20s linear infinite;
 transform: translateX(0%);
 width: 160vw;
 justify-content: center;
}

.runingtext {
 display: flex;
 position: relative;
 padding: 15px 0;
 width: 320vw;
 position: relative;
 top: 0%;
 z-index: 0;
}

.runingtext .focus {
 margin: 0 9px;
 display: grid;
 grid-template-columns: 29% 29% 29%;
 object-fit: cover;
 align-items: center;
 gap: 5%;
}
.runingtext .focus img{
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
}

.clickshow > div {
    display: none;
}
.clickshow > div h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.clickshow > div p {
    font-size: 16px;
}
@keyframes picture_scroll {
 from {
  transform: translateX(-0%);
 }

 to {
  transform: translateX(-50%);
 }
}

@-webkit-keyframes picture_scroll {
 from {
  -webkit-transform: translateX(0%);
 }

 to {
  -webkit-transform: translateX(-100%);
 }
}
.runingtext>div p{
 color: #4b4b4b;
 font-size: max(7*(1vw + 1vh) / 2, 80px);
 -webkit-text-stroke: 1px rgb(26 26 26 / 20%);
 -webkit-text-fill-color: transparent;
 margin-bottom: -50px;
 margin-left: -14px;
 font-weight: 800;
 line-height: 70%;
 margin: 0 2vw;
}
.work_item{
  position: relative;
  margin: auto;
  display: grid;
  width: min(1440px, 90%);
  grid-template-columns: 44% 55%;
  gap: 1%;
  margin-bottom: 51px;
  border-radius: 20px;
  background: #ffffff;
  filter: drop-shadow(0px 11px 8px rgba(18, 18, 18, 0.05));
}
.work_item:hover{
    -moz-transform: translateY(-0.75em);
    -webkit-transform: translateY(-0.75em);
    -o-transform: translateY(-0.75em);
    -ms-transform: translateY(-0.75em);
    transform: translateY(-0.25em);
}
.work_item:hover .we_left img{
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}
a.maskuplink{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.work_item.even_item{
    grid-template-columns: 55% 44%;
}
.work_item .we_left{
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}
.work_item .we_left img{
    height: 100%;
    object-fit: cover;
}
.work_item.even_item .we_left{
 border-radius: 0 20px 20px 0;
}
.work_item .we_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 75px 10px 100px;
}
.work_item .we_right h3{
    margin-bottom: 30px;
    font-size: max(2.2*(1vw + 1vh) / 2, 24px);
}
.work_item .we_right .we_info p{
  font-size: max(0.8*(1vw + 1vh) / 2, 14px);
  color: #606060;
  font-weight: 400;
  text-align: justify;
}
.work_item img{
    width: 100%;
}
.work_item .we_more{
    display: flex;
    justify-content: flex-end;
}
.work_item a.mabottom{
    width: 210px;
    margin: 30px 0 0;
    background: #162A4B;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.work_item , .work_item *{
 -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.work_item:hover a.mabottom{
 background: #ffffff;
}
.work_item:hover a.mabottom p{
    color: #162a4b;
}
.work_item:hover a.mabottom rect{
    stroke-dasharray: 125%, 0;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                        stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);

    transition: stroke-dasharray .9s cubic-bezier(.25,1,.5,1), 
                stroke-dashoffset .9s cubic-bezier(.25,1,.5,1);
}

.work_item a.mabottom p{
    color: #ffffff;
}
.work_item a.mabottom p span{
    font-size: 16px;
}
.work_item.even_item .we_more{
    display: flex;
    justify-content: flex-start;
}
.runingtext.doenJ{width: 310vw;}
.runingtext.doenJ div{
    grid-template-columns: 100%;
    display: grid;
    width: 155vw;
}
.runingtext.doenJ div img{
}
.runingtext.doenJ>div p{
    font-size: max(7.5*(1vw + 1vh) / 2, 80px);
}
@media screen and (max-width: 980px){
 .work_item{
    display: flex;
    flex-direction: column;
}
 .work_item .we_left{
    border-radius: 20px 20px 0 0;
}
 .work_item .we_right{
    padding: 40px 40px;
    order: 2;
}
 .work_item.even_item .we_left{
    border-radius: 20px 20px 0 0;
}
}
